<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/customers">Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{customerName}}</li>
  </ol>
</nav>

<div>
    <div *ngIf="addressesList.length" class="address">
        <div class="card" *ngFor="let item of addressesList; let i = index">
            <div class="card-header">
                Address - {{i+1}}
            </div>
            <div class="card-body">
                <address>
                    {{item.city}}<br>
                    {{item.state}}<br>
                    {{item.zip}}
                </address>
            </div>
        </div>
    </div>
    <div *ngIf="!addressesList.length" class="nodata">
        <div class="alert alert-primary" role="alert">
            No Data Available
        </div>
    </div>
</div>















